/*PAGE DU BLOG et CATEGORY*/
.blog #main, .category #main{
    display: flex;
    flex-wrap: wrap;
}
/*Sticky*/
.blog article.sticky{
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 2em;
}
.blog article.sticky .post-thumbnail{
    max-height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.blog .post-thumbnail, .category .post-thumbnail{
    overflow: hidden;
    border-radius: 10px;
}
.blog .post-thumbnail img, .category .post-thumbnail{
    width: 100%;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
    display: block;
}
/*Category*/
.blog .post-card-tags, .category .post-card-tags{
    background: #71b90f;
    background: -webkit-gradient(linear,right top,left top,from(#b8d038),to(#72b901));
    background: linear-gradient(270deg,#b8d038 0,#72b901);
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 999;
}
.blog .post-card-tags a, .category .post-card-tags a{
    color: #fff;
}
.blog .entry-title a, .category .entry-title a{
    font-weight: 800;
    font-size: 0.8em;
    margin: 0.5em 1.4em 0 0;
    color: #4D4D4D;
}
/*Les articles*/
.blog .site-main > article, .archive .site-main > article, .search .site-main > article{
    position: relative;
    margin-bottom: 1em;
    padding: 0 15px;
}

/*PAGE ARTICLE*/
.entry-content .post-full-content {
    width: 712px;
    max-width: 100%;
    margin: 1em auto 0;
    padding-top: 15px;
}
.single-featured-image-header {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.single .entry-meta{
    border-bottom: 1px solid #e2e2e2;
}
.entry-meta{
    color: #a2a2a2;
    text-align: center;
}
.entry-meta p{
    margin: .5em 0;
    font-size: 0.9em;
}
.entry-meta .author {
    color: #71b90f;
}
.single h2 {
    font-size: 2rem;
    position: relative;
    padding-left: 25px;
    margin: 1.5rem 0;
    font-weight: 300;
    line-height: 1.2;
}
.single h2:before {
    content: '';
    background: #d9de22;
    width: 15px;
    height: 5px;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
}
/*Image*/
.single .wp-block-image img{
    width: 1110px;
    max-width: 1110px;
    height: auto;
    display: block;
    margin: 2rem -205px 0 -205px;
    border-radius: 10px;
}
.single [class^="wp-block-"]:not(.wp-block-gallery) figcaption{
    text-align: center;
}
/*RESET page blog*/
.blog .entry-content h2, .blog .entry-content blockquote{
    margin: 0;
    padding: 0;
    line-height: 1.7;
    font-weight: 400; 
    font-size: 1rem;
}

/*********************/
/*   MEDIA QUERIES   */
/*********************/

@media (max-width: 1119.99px){
    .single .wp-block-image img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 991.99px){
    .single-featured-image-header {
        height: 100%;
    }
}