/*PAGE DU BLOG*/
.blog .page-header h1, .single .entry-header{
    font-family: 'Roboto',Arial,sans-serif;
    color: #4D4D4D;
    font-size: 2.3em;
    font-weight: 800;
    text-align: center;
    margin: 1em 0 1em 0;
}
.blog .hr, .single .hr {
    content: "";
    width: 120px;
    height: 20px;
    margin: 0 auto 2em auto;
    display: block;
    background-color: #d7dd2c;
    background: linear-gradient(270deg,#d7dd2c 0,#bfdd2d);
}
.blog #main{
    display: flex;
    flex-wrap: wrap;
}
/*Sticky*/
.blog article.sticky{
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 2em;
}
.blog article.sticky .post-thumbnail{
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.blog .post-thumbnail{
    overflow: hidden;
    border-radius: 10px;
}
.blog .post-thumbnail img {
    width: 100%;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
    display: block;
}
.blog .post-card-tags{
    background: #71b90f;
    background: -webkit-gradient(linear,right top,left top,from(#b8d038),to(#72b901));
    background: linear-gradient(270deg,#b8d038 0,#72b901);
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 999;
}
.blog .post-card-tags a {
    color: #fff;
}
.blog .entry-title a{
    font-weight: 800;
    font-size: 1.1em;
    margin: 0.5em 1.4em 0 0;
    color: #4D4D4D;
}
.blog .site-main > article, .archive .site-main > article, .search .site-main > article{
    position: relative;
    margin-bottom: 4em;
    padding: 0 15px;
}

/*PAGE ARTICLE*/
.entry-content{
    margin-bottom: 100px;
    margin: 1.5em 0;
    line-height: 1.7;
    font-weight: 400;
}
.entry-content .post-full-content {
    width: 700px;
    max-width: 100%;
    margin: 1em auto 0;
    padding-top: 15px;
}
.single-featured-image-header {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.single .entry-meta{
    border-bottom: 1px solid #e2e2e2;
}
.entry-meta{
    color: #a2a2a2;
    text-align: center;
    margin: .5em 0;
}
.entry-meta p{
    margin: 0;
    font-size: 
}
.entry-meta .author {
    color: #2a2a2a;
}
.single h2 {
    font-size: 2rem;
    position: relative;
    padding-left: 25px;
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.2;
}
.single h2:before {
    content: '';
    background: #d9de22;
    width: 15px;
    height: 5px;
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
}