/********************/
/*VARIABLES GLOBALES*/
/********************/

/*COULEURS*/

/*
$footerGrey: #313231;
$lightGrey: #b0b0b0;
$contentGrey: #8c8c8c;
$contentBlack: #2a2a2a;
$teamBlack: #595959;
$green: #71b90f;
$darkgreen: #5b960b;
$white: #ffffff;
$red: #ef5555;
$darkred: #d24443;
*/


/*BOUTONS*/
button, a.btn{
  position: relative;
  color: #ffffff;
  border: none;
  font-size: 1em;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  padding: 0 30px;
}

button:hover, a.btn:hover{
    color: #ffffff;
}

button.btn-primary, a.btn-primary, button, input[type="button"], input[type="submit"] {
    background-color: #71b90f;
    background-image: linear-gradient(to left, #71b90f 0%, #9bb90f 100%);
}

button.btn-primary:hover, a.btn-primary:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #5b960b;
    box-shadow: 0px 14px 45px -5px rgba(111, 184, 27, 0.8);
    -webkit-transform: scale(1.02) translateY(-2px);
    transform: scale(1.02) translateY(-2px);
}

button:focus {
  outline: 1px dotted;
  outline: none;
}

.left{ float: left; } 
.right{ float: right; }

.green {
    color: #71b90f;
}

/*************************/
/*/fin VARIABLES GLOBALES*/
/*************************/
html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif !important;
  color: #3c484e;
  padding: 0;
  margin: 0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.625rem;
}

h1, h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

a, button, input[type="submit"], input[type="button"], .btn, li, img, div, h1, h2, h3, h4, p, span {
  transition: all 0.35s;
}

/*Titre des pages*/
.page-header h1, .entry-header h1{
  font-family: 'Roboto',Arial,sans-serif;
  color: #4D4D4D;
  font-size: 2.2em;
  font-weight: 800;
  text-align: center;
  margin: 1em 0 1em 0;
}
.blog .hr, .single .hr, .category .hr, .page .hr {
  content: "";
  width: 120px;
  height: 20px;
  margin: 0 auto 2em auto;
  display: block;
  background-color: #d7dd2c;
  background: linear-gradient(270deg,#d7dd2c 0,#bfdd2d);
}

/*Interne page*/
#main{
  margin-bottom: 6em;
}
.entry-content{
  margin-bottom: 100px;
  margin: 1.5em 0;
}
.entry-content a, .entry-meta a{
  color: #474747;
  transition: all 0.1s;
  font-weight: 600;
  display: inline-block;
  outline: none;
  position: relative;
  overflow: hidden;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}
.entry-content a::before, .entry-meta a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #D7DD2C;
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}
.entry-content a:hover, .entry-content a:focus, .entry-meta a:hover, .entry-meta a:focus {
  outline: 0;
  color: #474747;
  text-decoration: none;
}
.entry-content a:hover::before, .entry-content a:focus::before, .entry-meta a:hover::before, .entry-meta a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*Breadcrumb*/
#breadcrumbs{
  margin-left: 15px;
  font-size: 0.9em;
  color: #8c8c8c;
}

#breadcrumbs a{
  color: #71b90f;
}

/*Formulaire*/
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  background: #fff;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  color: #2a2a2a;
  border-color: #71b90f;
}

/*********************/
/*   MEDIA QUERIES   */
/*********************/

/* Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}


/*********************/
/*    ANIMATIONS     */
/*********************/

/* Generated with Bounce.js. Edit at https://goo.gl/uHj0rD */

@-webkit-keyframes anim-menu { 
    0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(0.304, 0, 0, 0, 0, 0.304, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.304, 0, 0, 0, 0, 0.304, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.41% { -webkit-transform: matrix3d(0.547, 0, 0, 0, 0, 0.547, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.547, 0, 0, 0, 0, 0.547, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.61% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.81% { -webkit-transform: matrix3d(1.288, 0, 0, 0, 0, 1.288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.288, 0, 0, 0, 0, 1.288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.339, 0, 0, 0, 0, 1.339, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.339, 0, 0, 0, 0, 1.339, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.308, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.308, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.52% { -webkit-transform: matrix3d(1.253, 0, 0, 0, 0, 1.253, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.253, 0, 0, 0, 0, 1.253, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.13% { -webkit-transform: matrix3d(1.049, 0, 0, 0, 0, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.049, 0, 0, 0, 0, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.964, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.964, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.54% { -webkit-transform: matrix3d(0.968, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.968, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.96% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    74.37% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.79% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes anim-menu { 
    0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(0.304, 0, 0, 0, 0, 0.304, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.304, 0, 0, 0, 0, 0.304, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.41% { -webkit-transform: matrix3d(0.547, 0, 0, 0, 0, 0.547, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.547, 0, 0, 0, 0, 0.547, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.61% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.81% { -webkit-transform: matrix3d(1.288, 0, 0, 0, 0, 1.288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.288, 0, 0, 0, 0, 1.288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.339, 0, 0, 0, 0, 1.339, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.339, 0, 0, 0, 0, 1.339, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.308, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.308, 0, 0, 0, 0, 1.308, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.52% { -webkit-transform: matrix3d(1.253, 0, 0, 0, 0, 1.253, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.253, 0, 0, 0, 0, 1.253, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.136, 0, 0, 0, 0, 1.136, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.13% { -webkit-transform: matrix3d(1.049, 0, 0, 0, 0, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.049, 0, 0, 0, 0, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(0.964, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.964, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.54% { -webkit-transform: matrix3d(0.968, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.968, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.96% { -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    74.37% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.79% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }