section{
    padding: 5em 0;
}
section .text h2 {
    font-size: 4em;
    margin: 0 0 .5em 0;
}
section .text .hr {
    content: '';
    width: 100px;
    height: 10px;
    margin-bottom: 15px;
    background-color: #d7dd2c;
    background: linear-gradient(to left, #d7dd2c 0%, #bfdd2d 100%);
    display: block;
}
section .text p {
    color: #8c8c8c;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 300;
}

/*************************/
/*     INTRODUCTION      */
/*************************/
.introduction{
    background-image: url(../images/presentation-principale-greenpi.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    display: flex;
    align-items: center;
}
.introduction h1{
    margin-bottom:1em;
    font-size: 4.5em;
}
.introduction .text p {
    color: #8c8c8c;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

/*************************/
/*       CONCEPT         */
/*************************/
.concept .concept-box {
    position: relative;
    margin: 100px auto 0 auto;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concept .text .hr{
    content: '';
    width: 100px;
    height: 10px;
    margin-bottom: 15px;
    background-color: #a7ab3b;
    background: linear-gradient(to left, #d7dd2c 0%, #bfdd2d 100%);
    margin: 0 auto;
}
.concept-box .concept-logo-center {
    background: url(../images/logo-concept.jpg) no-repeat 50% #fff;
    flex: 1;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #E3E3E3;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
    z-index: 2;
}
.concept-box .concept-fleur-center {
    background-image: url(../images/fleurs-concept.png);
    position: absolute;
    flex: 1;
    width: 543px;
    height: 543px;
    margin: 0 auto;
}
.concept-box .concept-global-element {
    position: absolute;
    top: 100px;
    width: 540px;
    height: 540px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 3px dashed #E3E3E3;
    flex: 1;
}
.concept-global-element .concept-element {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    background-position: 50%;
    border: 5px solid #E3E3E3;
    box-shadow: 0px 0px 0px 5px white;
    position: absolute;
    transition-delay: 0s;
    transition-property: all;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.concept-element .texte-concept {
    position: absolute;
    text-align: center;
    width: 85%;
}
.texte-concept h4 {
    font-size: 0.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #43726e;
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    font-weight: 700;
}
.texte-concept span {
    content: '';
    width: 15px;
    background: #D6DC34;
    height: 3px;
    margin: 5px auto 0 auto;
    display: block;
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}
.texte-concept p {
    font-size: 0.4em;
    color: #8c8c8c;
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    margin: 1em 0;
}

/*Chaque elements*/
.concept-element:nth-child(2) { top: -80px; left: 210px; }
.concept-element:nth-child(3) { top: 0px; left: 420px; }
.concept-element:nth-child(4) { top: 210px; left: 500px; }
.concept-element:nth-child(5) { top: 420px; left: 420px; }
.concept-element:nth-child(6) { top: 500px; left: 210px; }
.concept-element:nth-child(7) { top: 420px; left: 0px; }
.concept-element:nth-child(8) { top: 210px; left: -80px; }

.concept-element:hover, .concept-element:focus {
    cursor: pointer;
    -webkit-transform: scale(2.5) !important;
    transform: scale(2.5);
    box-shadow: 0px 0px 30px 0px rgba(111, 184, 27, 0.4);
    border: 2px solid #72b901;
}
.concept-element:hover img {
    -webkit-transform: scale(0.4) translateY(-100px);
    transform: scale(0.4) translateY(-100px);
    opacity: 0;
}
.concept-element:hover .texte-concept h4 {
    transition-delay: 0.3s;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.concept-element:hover .texte-concept span {
    transition-delay: 0.5s;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.concept-element:hover .texte-concept p {
    transition-delay: 0.7s;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

/*************************/
/*       BOX         */
/*************************/

.box {
    padding-top: 0;
}
.box .container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 90%;
    align-items: center;
}
.box .container .text {
    flex: 1;
    margin-top: -1em;
}
.box .container img {
    width: 520px;
    height: 780px;
    border-radius: 30px;
    box-shadow: 21px 29px 45px -5px rgba(0, 0, 0, 0.35);
}
.box .container .text p {
    width: 90%;
    font-size: 1.4em;
}

/*************************/
/*     Testimonials      */
/*************************/

.testimonials {
    background: #d7dd2c;
    background: linear-gradient(-135deg, #d7dd2c 0%, #b5dd2c 100%);
    margin-top: -170px;
}
.testimonials .container .text .hr {
    background-color: #ffffff;
}
.testimonials .container .cards {
    display: flex;
    margin: 4em 0;
}
.cards .card:first-child {
    padding-left: 0;
}
.cards .card:last-child {
    padding-right: 0;
}
.cards .card {
    padding: 0 15px;
    width: 33.333333%;
    color: #787b17;
    background-color:transparent;
    border: none;
}
.cards .card .body {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
}
.cards .card .body .fa {
    font-size: 1.5em;
    padding: 0 15px;
    color: #a7ab3b;
}
.cards .card .body .message {
    text-align: center;
    padding: 0 15px;
}
.card .body .fa.fa-quote-right {
    align-self: flex-end;
}
.cards .card .footer {
    height: 35px;
}
.cards .card .footer .profil {
    margin: -40px 0 0 15px;
    float: left;
}
.cards .card .footer p {
    font-size: .8em;
    font-style: italic;
    text-align: left;
    float: left;
}
.cards .card .footer .profil img {
    border-radius: 50%;
    border: 5px #c5dd2d solid;
}

/*************************/
/*          Team         */
/*************************/

.team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .text {
    align-items: center;
}
.container .team_card {
    margin-top: 6em;
    display: flex;
}
.team_card .photo {
    width: 45%;
    margin-top: 1.5em;
    z-index: 20;
    position: relative;
}
.team_card.right .photo {
    text-align: right;
    order: 2;
}
.team_card .photo img {
    width: 450px;
    height: 462px;
    border-radius: 30px;
    box-shadow: 0px 20px 88px -19px rgba(0, 0, 0, 0.55);
}
.team_card .data {
    width: 50%;
}
.team_card.right .data {
    text-align: right;
    order: 1;
}
.data .presentation {
    margin-left: -150px;
    margin-top: 20px;
    z-index: 50;
    position: relative;
    overflow: hidden;
}
.team_card.right .data .presentation {
    margin: 20px -150px 0 0;
    z-index: 50;
    position: relative;
    overflow: hidden;
}
.presentation h3 {
    font-size: 2.8em;
    font-weight: 700;
    color: #595959;
    background-color: #fff;
    padding: 5px 15px;
    margin-bottom: 15px;
    display: block;
}
.presentation .job {
    color: #ffffff;
    font-style: italic;
    font-size: 1.1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: -1em;
    background: linear-gradient(to left, #b8d038 0%, #72b901 100%);
    padding: 5px 15px;
    display: inline-block;
}
.data .bio {
    color: #8c8c8c;
    font-size: 1.4em;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 300;
}
.data .social {
    list-style: none;
    padding: 0;
    display: flex;
}
.data .social a {
    text-decoration: none;
    color: #ffffff;
}
.social a li {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #b0b0b0;
    display: flex;
    border-radius: 8px;
    opacity: 0.5;
}
.social a li:hover {
    opacity: 1;
}
.social a li span {
    font-size: 1.5em;
    margin: auto;
}

/*********************/
/*   MEDIA QUERIES   */
/*********************/

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1600px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1599.99px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 1200px and up) */
@media (max-width: 1199.99px) {
    .container {
        width: 960px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .introduction{
        height: 100%;
        padding-top: 140px;
    }
    .introduction .text{
        background: rgba(255,255,255,0.8);
        text-align: center;
        border-radius: 20px;
        padding: 20px;
    }
    .introduction .text h1, .introduction .text h2{
        margin: 1em 0 .5em 0;
    }
    .introduction .text .btn{
        margin: 0 auto 40px auto;
    }

    .testimonials {
        margin-top: 0px;
    }

    .team .container .team_card {
        flex-direction: column;
    }
    .team_card.right .photo {
        text-align: center;
        order: 1;
    }
    .team_card.right .data {
        text-align: left;
        order: 2;
    }
    .team_card.right .data .presentation{
        margin: 0;
        text-align: center;               
    }
    .data .social.right{
        float: left;
    }
    .team_card .photo {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .team_card .data {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .team_card .data   .presentation{
        margin: 20px 0 0 0;
        text-align: center;
    }

}

/* Medium devices (tablets 992px and up)*/
@media (max-width: 991.99px) {
    .container {
        max-width: 100% !important;
        width: 100% !important;
        padding: 0 15px;
        box-sizing: border-box !important;
    }
    .introduction {
        padding-top: 80px;
    }
    .concept .concept-box{
        height: 100%;
        margin-bottom: 2em;
        display: block;
        overflow: hidden;
        margin: 0 auto;
        width: 735px;
    }
    .concept-box .concept-global-element{
        border: none;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .concept-global-element .concept-element{
        position: relative;
        float: left;
        margin: 20px 60px 200px 60px;
        top: 0!important;
        left: 0!important;
        right : 0!important;
        overflow: visible;
    }
    .concept-element .texte-concept{
        position: absolute;
        text-align: center;
        width: 190px;
        left: -37px;
        bottom: -260px;
        opacity: 1;
        min-height: 300px;
    }
    .concept-element .texte-concept h4 {
        font-size: 1.2em;
        opacity: 1;
        margin: 20px 0;
    }
    .concept-element .texte-concept p{
        font-size: 1em;
        opacity: 1;
    }
    .concept-element .texte-concept span{
        opacity: 1;
    }
    .concept-element:hover, .concept-element:focus{
        cursor: pointer;
        transform: none !important;
        box-shadow: 0px 0px 30px 5px rgba(111,184,27,0.4);
        border: 5px solid #72b901;
    }
    .concept-element:hover img {
        transform: none;
        opacity: 1;
    }
    .concept-element:hover .texte-concept h4, .concept-element:hover .texte-concept span, .concept-element:hover .texte-concept p{
        transform: translateY(40px);
    }
    .concept-logo-center{
        display: none;
    }
    .concept-fleur-center{
        display: none;
    }

    .box .container {
        flex-direction: column;
    }
    .box .container img {
         display: none;
    }

    .testimonials .cards {
        flex-direction: column;
    }
    .testimonials .cards .card {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 1.5em;
    }

    .team .container .team_card {
        flex-direction: column;
    }
    .team .container .photo img{
        width: 50%;
        height: auto;
    }

}

/* Mobile Device (less than 768px)*/
@media (max-width: 767.99px) {
    section{
        padding: 3em 0;
    }
    section .text h1, section .text h2{
        font-size: 2.5em;
    }
    .introduction {
        height: 100%;
    }
    .concept .concept-box{
        width: 480px;
    }
    .testimonials .container .cards {
        margin: 4em 0 0 0;
    }
}

/* Extra small Mobile Device (less than 536px)*/
@media (max-width: 535.99px) {
    .concept .concept-box {
        width: 100%;
    }
    .concept-box .concept-global-element{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .team_card .photo{
        margin: 0px -15px !important;
        width: calc(100% + 30px);
    }
    .team .container .photo img{
        margin: 15px -15px;
        width: calc(100% + 30px);
        height: auto;
        box-shadow: none;
        border-radius: 0;
    } 

}